<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/images/bootstrap-logo.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      SIGCON
    </a>
  </div>
</nav>
<div class="container">
  <!-- Content here -->
  <div class="row">
    <div class="card"></div>
    <div class="card">
      <div class="card-body">
        Personas Registradas
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Apaterno</th>
              <th scope="col">Amaterno</th>
              <th scope="col">Nombres</th>
              <th scope="col">FNac</th>
              <th scope="col">TipoDoc</th>
              <th scope="col">NDoc</th>
              <th scope="col">Direccion</th>
              <th scope="col">Ubigeo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persona of personaArray; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ persona.apellido_paterno }}</td>
              <td>{{ persona.apellido_materno }}</td>
              <td>{{ persona.nombres }}</td>
              <td>{{ persona.fecha_nacimiento }}</td>
              <td>{{ persona.id_tipo_documento }}</td>
              <td>{{ persona.ndocumento }}</td>
              <td>{{ persona.direccion }}</td>
              <td>{{ persona.idubigeo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
